@model Infrastructure.DTOs.ProductViewModel

@{
    var title = "Create Product";
}
<form method="post" enctype="multipart/form-data">
    @if (Model.Product.Id != 0 && User.IsInRole(WebConstants.EditorRole) || User.IsInRole(WebConstants.AdminRole))
    {
        title = "Редактиране на продукт";
        <input asp-for="Product.Id" hidden/>
    }
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">
                @title
            </h2>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Product.Name">Име</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control"/>
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <label asp-for="Product.Price">Цена</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Price" class="form-control"/>
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <label asp-for="Product.ShortDescription">Кратко описание</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.ShortDescription" class="form-control"/>
                        <span asp-validation-for="Product.ShortDescription" class="text-danger"></span>
                    </div>
                
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <label asp-for="Product.Description">Описание</label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <label asp-for="Product.Quantity">Количество</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Quantity" class="form-control"></input>
                        <span asp-validation-for="Product.Quantity" class="text-danger"></span>
                    </div>
                                
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        Снимка
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control"/>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <label asp-for="Product.CategoryId">Категория</label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.CategoryId" asp-items="@Model.CategorySelectList" class="form-select">
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <label asp-for="Product.TypeId">Вид</label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.TypeId" asp-items="@Model.TypeSelectedList" class="form-select">
                            <option disabled selected>--Select Type--</option>
                        </select>
                        <span asp-validation-for="Product.TypeId"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if(Model.Product.Id!=0)
                            {
                                <input type="submit" class="btn btn-info w-100" value="Запазване"/>
                            }
                            else
                            {
                                <input type="submit" onclick="return validateInput()" class="btn btn-success w-100" value="Създаване"/>
                            }
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-primary w-100"><i class="fas fa-sign-out-alt"></i>&nbsp; Назад</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @if(Model.Product.Id!=0)
                {
                    <img src="@WebConstants.ImagePath@Model.Product.Image" width="100%" style="border-radius: 5px; border: 1px solid #bbb"/>
                }
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    <script>
    $(document).ready(function (){
        $('.summernote').summernote({
        height:250
        });
    });
    function validateInput() {
        if (document.getElementById("uploadBox").value === "") {
            Swal.fire(
                'Error',
                'Please upload image!',
                'error'
            )
            return false;
        }
        return true;
    }
    </script>
}
